<h1><%= @city_name %> gigs</h1>

<div class="hidden">
<%= form_tag '/getevents' do  -%>

  <div class="field">
    <%= text_field_tag 'city', nil, :placeholder => "other city" %><%= submit_tag 'go' %>
  </div>

  <div class="">
    <%= @err_message %>
  </div>

<% end -%>
</div>

<div class="container">
  <div class="sevencol">
    <% @events.each do |event| %>
      <div class="row gig-row">
        <div class="gig-top">      
          <%= hidden_field_tag event.headliner, event.headliner %>
          <div class="hidden gig-top-content">   
            <iframe1 width="560" height="315" src="<%= event.video if event.video %>" frameborder="0" allowfullscreen></iframe>   
          </div>
        </div>
        <p class="healiner"><%= event.headliner %></p>
        <p class="other-acts"><%= "With #{event.other_performers_names}" if event.other_performers_names != ""%></p>
        <p class="other-acts">@<%= event.venue_name %></p>
        <p class="other-acts"><%= event.start_date %></p>
      </div>
    <% end %>
  </div>
  <div class="fivecol">
    
  </div>
</div>


