<h1><%= @city_name %> gigs</h1>

<%= form_tag '/getevents' do  -%>

  <div class="field">
    <%= text_field_tag 'city', nil, :placeholder => "other city" %><%= submit_tag 'go' %>
  </div>

  <div class="">
    <%= @err_message %>
  </div>

<% end -%>

<div class="container">
  <div class="sevencol">
    <% @events.each do |event| %>
      <div class="row gig-row">
        <p class="healiner"><%= event.headliner %></p>
        <p class="other-acts"><%= "With #{event.other_performers_names}" if event.other_performers_names != ""%></p>
        <p class="other-acts">@<%= event.venue_name %></p>
      </div>
    <% end %>
  </div>
  <div class="fivecol">
    
  </div>
</div>



<script type="text/javascript" src="http://tinychat.com/chatbar/bar.js"></script>
<script type="text/javascript">
chatbar.embed({ room: "cc2ac9c6160e00a2ebb9c9f96f64eb92", theme: "white", facebook_like: true, width: "fluid", align: "center", position: "bottom"});
</script>