<h1><%= @city_name %> gigs</h1>

<%= form_tag '/getevents' do  -%>

  <div class="field">
    <%= text_field_tag 'city', nil, :placeholder => "other city" %><%= submit_tag 'go' %>
  </div>

  <div class="actions">
    <%= @err_message %>
  </div>

<% end -%>

<div class="container">
  <div class="row">
    <div class="threecol">
      <p>Column 1</p>
    </div>
    <div class="threecol">
      <p>Column 2</p>
    </div>
    <div class="threecol">
      <p>Column 3</p>
    </div>
      <div class="threecol last">
    <p>Column 4</p>
    </div>
  </div>
</div>

<table>
  <tr>
    <th>Artist</th>
    <th>Other Performers</th>
    <th>Venue</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @events.each do |event| %>
  <tr>
    <td><%= event.headliner %></td>
    <td><%= event.other_performers_names %></td>
    <td><%= event.venue_name %></td>
    <td><%= event.start_date %></td>
    <td><%= link_to 'Show', event %></td>
    <td><%= link_to 'Edit', edit_event_path(event) %></td>
    <td><%= link_to 'Destroy', event, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />


